.btn1 {
  background-color: #0077b6;
  border-radius: 4px;
  color: aliceblue;
}

.footer-title {
  color: #0077b6;
  opacity: 1;
}

.link {
  color: #0077b6;
}

.btn1:hover {
  cursor: pointer;
}

.btn2 {
  background-color: #dcdcdc;
  border-radius: 4px;
  color: slate-500;
}

.btn2:hover {
  cursor: pointer;
  color: #15a082;
}

.label-text,
.label,
.label-text-alt {
  font-size: 16px;
  color: #023e8a;
  /* color: #0077b6; */
}

.fonts {
  color: #087f65;
}

.blue-light {
  color: #0096c7;
}

.blue-medium {
  color: #0077b6;
}

.blue-dark {
  color: #023e8a;
}

.blue-darker {
  color: #03045e;
}

.bg-blue-light {
  background-color: #90e0ef;
  /* background-color: #ade8f4; */
}

.bg-blue-medium {
  background-color: #0077b6;
}

.bg-blue-dark {
  background-color: #023e8a;
}

.border-blue {
  border: 2px #90e0ef solid;
}

.border-blue-dark {
  border: 2px #48cae4 solid;
}
.shadow1 {
  border-radius: 22px;
  /* background: #e0e0e0;
    box-shadow:  25px 25px 60px #898989,
                 -25px -25px 60px #ffffff; */
}
.shadow1:hover {
  border-radius: 16px;
  background: #e0e0e0;
  box-shadow: 5px 5px 0px #0096c7, -5px -5px 0px #ffffff;
}
.jobs:hover .apply {
  background-color: #087f65;
  color: #ffffff;
  transition: padding 1s ease-out;
  padding-right: 20px;
}
.jobs:hover {
  box-shadow: 5px 5px 0px #ffffff, -5px -5px 0px #087f65;
  transition: box-shadow 600ms;
}

.topImg {
  transform: rotate(180deg);
  position: absolute;
  top: 0px;
}
